@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "All List";
    <style>
        .widget-user-2 .widget-user-username {
            font-size: 18px;
            font-weight: 300;
            margin-bottom: 5px;
            margin-top: 5px;
        }
        .padbad {
            margin-top: 4px;
        }
    </style>
}
<br />
<div class="container-fluid">
    <div class="card card-solid">
        <div class="card-body pb-0">
            <a asp-action="Register" asp-controller="Account" class="btn bg-teal mb-3" style="width:auto">
                Ajouter Nouveau utilisateur
            </a>
            <div class="row">
                @if (Model.Any())
                {
                    foreach (var user in Model)
                    {
                        <div class="col-md-4">
                            <!-- Widget: user widget style 2 -->
                            <div class="card card-widget widget-user-2">
                                <!-- Add the bg color to the header using any of the bg-* classes -->
                                <div class="widget-user-header bg-warning">
                                    <div class="widget-user-image">
                                        <img class="img-circle elevation-2" src="~/template/dist/img/avatar5.png" alt="User Avatar">
                                    </div>
                                    <!-- /.widget-user-image -->
                                    <h3 class="widget-user-username">@user.Email</h3>
                                    <h5 class="widget-user-desc">@user.UserName</h5>
                                </div>
                                <div class="card-footer p-0">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">
                                                Phone Number <span class="float-right badge bg-primary padbad">@user.PhoneNumber</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">
                                                Email Confirmed <span class="float-right badge bg-info padbad">@user.EmailConfirmed</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">
                                                Two Facture Projects <span class="float-right badge bg-success padbad">@user.TwoFactorEnabled</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">
                                                Recent Connect <span class="float-right badge bg-danger padbad">@user.LockoutEnd</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- /.widget-user -->
                        </div>



                        @*<div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
                                <div class="card bg-light">
                                    <div class="card-header text-muted border-bottom-0">
                                        @user.Email
                                    </div>
                                    <div class="card-body pt-0">
                                        <div class="row">
                                            <div class="col-7">
                                                <h2 class="lead"><b>@user.UserName</b></h2>
                                            </div>
                                            <div class="col-5 text-center">
                                                <img src="~/AdminTemplate/dist/img/user-icon-clipart-9.png" alt="" class="img-circle img-fluid">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="text-right">
                                            <form asp-action="DeleteUser" asp-route-id="@user.Id" method="post">
                                                <a class="btn btn-sm bg-teal" asp-action="EditUser" asp-controller="Administration" asp-route-id="@user.Id">
                                                    <i class="fas fa-comments"></i>
                                                </a>
                                                <button type="submit" class="btn btn-sm btn-danger">
                                                    <i class="fas fa-user"></i> &nbsp;Delete
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                    }
                }
                else
                {

                }
            </div>
        </div>
        <!-- /.card-body -->
    </div>
</div>
