@model GestionCours.Models.GestionViewModel.Cours

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cours</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TitleCours)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TitleCours)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LinkDownload)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LinkDownload)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date_Creation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date_Creation)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
